<!-- Affichage des mails existants via une boucle -->
<% @emails.each do |email| %>
<tr id="<%= email.id %>">
	<!-- Affichage de l'objet -->
	<td class="email-object">
		<!-- Bouton pour déclencher la méthode show de l'email On met un if / else pour vérifier si le mail a déjà été lu et éditer en fonction-->
		<% if email.wasread == false %>
		<%= link_to email.object, email_path(email.id), method: "get", remote: true, class: "unread", id: email.id %> 
		<% else %>
		<%= link_to email.object, email_path(email.id), method: "get", remote: true, id: email.id %> 
		<% end %>
	</td>
	<!-- Affichage de l'aperçu -->
	<td class="email-content">
		<%= email.body.truncate_words(10)%>
	</td>
</tr>
<% end %>