 <!-- HTML ajouté à la création d'un nouvel e-mail, on lui applique la classe to-fade pour facilier l'animation via jQuery -->
 <tr class="to-fade">
 	<td><%= link_to email.object, email_path(email.id), method: "get", remote: true, class: "unread" %></td>
 	<td id="<%= @email.id %>"><%= @email.body.truncate_words(10)%></td>
 </tr>