<div class="container">
  <!-- Bouton pour recevoir un nouveau mail -->
  <%= link_to "Recevoir un email", emails_path, method: "post", remote: true, class: "btn btn-primary mb-3", id: "btn-receive-mail" %>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" class="small-col">Liste des emails</th>
            <th scope="col" class="big-col" id="secondColTitle">Aperçu</th>
          </tr>
        </thead>
        <tbody id="emails-list">
         <%= render 'emails_list' %>
        </tbody>
      </table>
    </div>
  </div>
</div>
