<div class="container">
  <!-- Bouton pour recevoir un nouveau mail -->
  <%= link_to "Recevoir un email", emails_path, method: "post", remote: true, class: "btn btn-primary mb-3", id: "btn-receive-mail" %>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" class="small-col">Liste des emails</th>
            <th scope="col" class="big-col" id="secondColTitle">Aperçu</th>
          </tr>
        </thead>
        <tbody id="emails-list">
          <!-- Affichage des mails existants via une boucle -->
          <% @emails.each do |email| %>
          <tr id="<%= email.id %>">
            <!-- Affichage de l'objet -->
            <td class="email-object">
              <%= link_to email.object, email_path(email.id), method: "get", remote: true %>            
            </td>
            <!-- Affichage de l'aperçu -->
            <td class="email-content">
              <%= email.body.truncate_words(10)%>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
